* {
    padding: 0;
    margin: 0;
}

body, p {
    font-family: 'Press Start 2P', cursive;
    line-height: 2.2rem;
}

body {
    background-color: #fefae0;
}

header {
    margin-top: 0;
    padding-top: 0;
    background-color: #ccd5ae;
    box-shadow: 10px 10px 10px 1px #e9edc9;
}

#game-title,
#round-result,
#game-result,
.button-container {
    padding: 2rem;
    text-align: center;
}

#game-title {
    color: #ffffff;
    text-shadow: 1px 1px 2px pink;
}

/* Results and Scores */
.results-container {
    padding-top: 1.5rem; 
}

#round-result {
    color: #283618;
    text-shadow: 1px 1px 2px #a5a58d;
}

.score-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.score-box {
    width: 200px;
    margin: 1rem;
    padding: 2rem;
    background-color: #e9edc9;
    box-shadow: 10px 10px 10px 1px #ccd5ae;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    font-size: 1.5rem;
    color: #283618;
}

.score {
    font-size: 1rem;
    padding-top: 2rem;
    color: #283618;
}

/* RPS Buttons */
.button-container > button {
    margin: 1rem;
    padding: 1.5rem 1rem;
    width: 200px;
    background-color: #faedcd;
    border: none;
    border-radius: 15px;
}

.button-container > button:hover {
    box-shadow: 5px 5px 20px 1px #d4a373;
}

.icon {
    max-width: 100px;
}

.icon-text {
    padding-top: 0.75rem;
    font-weight: 600;
    color: #283618;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: #d4a373;
    padding: 1rem 0 0.5rem;
}

.fa.fa-github {
    font-size: 2rem;
    color: #ffffff;
}

.fa.fa-github:hover {
    transition: transform 0.3s ease-in-out;
    transform: rotate(360deg) scale(1.2);
}

/* Play Again Modal */
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 500px;
    height: 200px;
    padding-bottom: 2rem;
    background-color: #ccd5ae;
    box-shadow: 10px 10px 20px 1px #e9edc9;
    border-radius: 15px;
}

#game-result {
    color: #ffffff;
    text-shadow: 1px 1px 2px pink;
    font-size: 1.25rem;
}

#play-again {
    font-family: 'Press Start 2P', cursive;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #fefae0;
    font-size: 0.75rem;
    color: #283618;
}

#play-again:hover {
    background-color: #faedcd;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .hidden {
    display: none;
  }
  
/* Mobile view */
@media (max-width: 767px) {
    #game-title {
        font-size: 1.5rem;
    }
    #round-result {
        font-size: 1rem;
        padding: 1rem;
    }
    .score-container {
        padding: 1rem 0;
    }
    .score-box {
        width: 160px;
        height: 100px;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
    .choice,
    .score,
    #game-result,
    #play-again {
        font-size: 0.7rem;
    }
    .score {
        padding-top: 0;
    }
    .button-container {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;
    }
    .button-container > button {
        width: 95px;
        height: 95px;
        margin: 1rem;
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon {
        max-width: 40px;
    }
    .icon-text {
        font-size: 0.5rem;
        padding-top: 0;
    }
    .modal {
        width: 300px;
        height: 175px;
    }
}