* {
    padding: 0;
    margin: 0;
}

body, p {
    font-family: 'Press Start 2P', cursive;
    line-height: 2.5rem;
}

body {
    background-color: #fefae0;
}

header {
    margin-top: 0;
    padding-top: 0;
    background-color: #ccd5ae;
    box-shadow: 10px 10px 10px 1px #e9edc9;
}

#game-title,
#round-result,
#game-result,
.button-container {
    padding: 2rem;
    text-align: center;
}

#game-title {
    color: #ffffff;
    text-shadow: 1px 1px 2px pink;
}

/* Results and Scores */
.results-container {
    padding-top: 1.5rem; 
}

#round-result {
    color: #283618;
    text-shadow: 1px 1px 2px #a5a58d;
}

.score-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.score-box {
    width: 180px;
    margin: 1rem;
    padding: 2rem;
    background-color: #e9edc9;
    box-shadow: 10px 10px 10px 1px #ccd5ae;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    font-size: 1.5rem;
    color: #283618;
}

#player-score,
#computer-score {
    font-size: 1rem;
    padding-top: 2rem;
    color: #283618;
}

.player-victory {
    color: #06d6a0;
    text-shadow: 1px 1px 2px #ffd166;
}

.computer-victory {
    color: #e63946;
    text-shadow: 1px 1px 2px #073b4c;
}

/* RPS Buttons */
.button-container > button {
    margin: 1rem;
    padding: 1.5rem 1rem;
    width: 200px;
    background-color: #faedcd;
    border: none;
    border-radius: 15px;
}

.button-container > button:hover {
    box-shadow: 5px 5px 20px 1px #d4a373;
}

.icon {
    max-width: 100px;
}

.icon-text {
    padding-top: 0.75rem;
    font-weight: 600;
    color: #283618;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: #d4a373;
    padding: 1rem 0 0.5rem;
}

.fa.fa-github {
    font-size: 2rem;
    color: #ffffff;
}

.fa.fa-github:hover {
    transition: transform 0.3s ease-in-out;
    transform: rotate(360deg) scale(1.2);
}

/* Mobile view */
@media (max-width: 767px) {
    .score-container {
        flex-direction: column;
        align-items: center;
    }
}